@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
* {
	margin: 0;
	padding: 0;
	color: black;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
html {
	font-size: 15px;
}
body {
	font-family: 'Montserrat', sans-serif;
}

header {
	position: relative;
	height: 4rem;
}

.navbar-container {
	display: flex;
	z-index: 20;
	padding: 1.5rem 3rem;
	height: 4rem;
	background-color: white;
	position: fixed;
	width: 100%;
	justify-content: space-between; /* Posicionamiento horizontal */
	align-items: center;
}
.navbar {
	display: flex;
	width: 18rem;
	justify-content: space-between;
}
.navbar li {
	font-weight: bold;
	font-size: .8rem;
	text-transform: uppercase;
}

.logo h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4rem;
}

/* sections */
.inicio {
	background-image: url(../images/fondo.jpg);
	background-position: bottom center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;

	height: 80vh;
}
/* HERO */
.hero {
	width: 34%;
	margin-right: 20rem;
}
.hero h1 {
	font-weight: 400;
	font-size: 2rem;
}
.hero p {
	font-size: 1.4rem;
	font-weight: 300;
	margin: .8rem 0 3rem 0;
}

/* DESAFIO */
#desafio {
	background: #f8f8f8;

	padding: 5rem 0 6rem 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#desafio h2 {
	font-size: 3rem;
	padding-bottom: 5rem;
	color: #3b3b3b;
}
.desafio-container {
	align-items: center;
	display: flex;
	align-content: flex-end;
	justify-content: space-evenly;
	width: 90%;
}
.icono {
	border-radius: 100%;
	background: #f9d69d;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
}
.desafio-el {
	text-align: center;
	margin-top: 2rem;
	font-size: 2rem;
	color: #6b6b6b;
}

/* 	EQUIPO */
#equipo {
	background: black;
	position: relative;
}
#equipo h2 {
	padding: 4rem 0 0 0;
	display: inline-block;
	font-size: 4rem;
	margin-bottom: 3.4rem;
	margin-left: 2.5rem;
	text-transform: uppercase;
	position: relative;
}
#equipo h2:after {
	content: "";
	position: absolute;
	bottom: -12px;
	width: 45%;
	left: 0;
	height: 8px;
	background: #c14953;
}
#equipo p small {
	color: white;
}

.arrow {
	position: absolute;
	color: white;
	z-index: 12;
	font-size: 4rem;
	top: 57%;
}
.arrow:hover {
	cursor: pointer;
}
#arrow-right {
	right: 30px;
}
#arrow-left {
	left: 30px;
}
.carousel-container {
	display: grid;
	grid-template: 1fr / repeat(5, 21.25rem);
	grid-gap: 5rem;
	height: 60vh;
	width: 125rem;
	align-items: center;
	margin-bottom: 2.5rem;
	position: relative;
	overflow: hidden;
}
.carousel-item {
	text-align: center;
	width: 21.25rem;
	/* padding: 5rem; */
	overflow: hidden;

	position: absolute;
}
.carousel-item:hover {
	cursor: pointer;
}
.carousel-item:hover .equipo-info {
	bottom: 0px;
}
.wrapper {
	position: relative;
	width: 100rem;
	margin: 0 auto;
	overflow: hidden;
}
/* #item4 {
	transform: translateX(200px);
} */

.equipo-info {
	position: absolute;
	transition: .5s;
	width: 100%;
	height: 120px;
	background: rgba(0, 0, 0, 0.747);
	text-align: left;
	bottom: -150px;
	padding: .8rem .7rem;
}
.equipo-info h1 {
	color: #d4d4d4;
	text-transform: capitalize;
	font-size: 2rem;
}
.equipo-info span {
	display: inline-block;
	color: #d4d4d4;
	padding: .4rem 0;
	font-weight: lighter;
}
.equipo-info span img {
	vertical-align: text-bottom;
}
/* utilities */
/* BTN */
.btn {
	padding: .8rem 3rem;
	border: 1px solid grey;
}
.btn:hover {
	cursor: pointer;
}
/* color white */
.cw {
	color: white;
}

/* SEMANA */
.semanas-wrapper {
	width: 100%;

	overflow: hidden;
}
#semanas {
	display: flex;
	width: calc(510.61*13px);
	background: #e5dcc5;
	height: 60vh;
	transform: translateX(-120px);
	overflow: hidden;
}
.semana {
	height: 100%;
	width: 650px;
	transform: skewX(-20deg);
	background: red;
	text-align: center;
}

.blue {
	background: #8e9dbb;
}
.red {
	background: #c14953;
}
.yellow {
	background: #eee7d6;
}

@media only screen and (max-width: 1510px) {
	html {
		font-size: 14px;
	}
	.wrapper {
		width: 73.75rem;
	}
}
@media only screen and (max-width: 1210px) {
	html {
		font-size: 14px;
	}
	.wrapper {
		width: 73.75rem;
	}
	.hero {
		margin-right: 7rem;
		width: 58%;
	}
}
